<form method="post" action="/addastra">
    <label for="category">Astra name:</label>
    <input type="text" id="category" name="category"><br>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category"><br>

    <label for="counter">Counter:</label>
    <textarea id="counter" name="counter" rows="4" ></textarea><br>

    <label for="deity">Deity:</label>
    <input type="text" id="deity" name="deity" ><br>

    <label for="used_for">Used For:</label>
    <textarea id="used_for" name="used_for" rows="6" ></textarea><br>

    <button type="submit">Submit</button>
  </form>